body {
	background-image: url("background.jpg");
	background-size: 100% 250%;
}

#topTitle {
	display: inline-block;
}

#map {
	height: 40%;
	width: 100%;
}

.jumbotron {
	background-color: transparent;
}
