body {
	background-image: url("background.jpg");
	background-size: 500% 500%;
	height: 100%;
	width: 100%;
}

#topTitle {
	display: inline-block;
	font-size: 70px;
}

h3 {
	margin-left: 20%;
	margin-right: 20%;
}

#Map {
	float: right;
}

#WaDlogo {
	height: 200px;
	width: 300px;
	float: left;
	margin-left: 40px;
}

#PaPlogo {
	float: right;
	vertical-align: bottom;
	height: 40px;
	width: 50px;
}

#addJobBtn, #AddJob {
	float: right;
	vertical-align: top;
	position: absolute;
	margin: 0;
	right: 0;
}

#addJob {
	display: none;
	border: 2px dashed black;
	float: right;
}

#getJobMap {
	display: none;
}

.btn.btn-success {
	background-color: #008080;
}